#dashboard  {
  background: #ebeff1;
}

.secondary-navbar {
  height: 60px;
  position: relative;
  text-align: center;
  background-color: #fff;
  padding-left: 5vw;
  padding-right: 5vw;
}

.secondary-navbar  .indicator {
  height: 0.3em;
  background-color: #fff;
}

.secondary-navbar  ul a {
  line-height:60px;
  height:60px;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
}

.secondary-navbar .tabs {
  background-color: #1a237e;
  height: 60px;
}

.secondary-navbar tabs .tab a:hover, .secondary-navbar .tabs .tab a.active, .secondary-navbar .tabs .tab a:hover {
  background-color: transparent;
  color: white;
  letter-spacing: 0.1em;
}

.secondary-navbar .tabs .tab a {
  color: rgba(255, 255, 255, 0.6);
}


.dashboard-nav ul.left {
  margin-left: 1em;
}

.dashboard-nav ul.left a {
  margin-right: 1em;
}

.dashboard-nav ul.right {
  margin-right: 1em;
}

.dashboard-nav ul.right a {
  margin-left: 1em;
}

.table-title {
  font-family: Roboto !important;
  padding: 1em;
  border-left: 0.3em solid #FA8072;
  font-weight: 600;
  letter-spacing: 0.1em;
  background: white !important;
}

.info ul.flexed:before {
    content: "";
    position: absolute;
    left: 0.9em;
    width: 3px;
    height: calc(100% - 80px);
    background: #c0392b;
}
.info ul.flexed li{
    margin-left:3em;
    margin-bottom: 2em;
    flex: 1;
    display: inherit;
}
.info ul.flexed .time:before{
    content: "";
    position: absolute;
    left: 0.5em;
    width: 1em;
    height: 1em;
    background: crimson;
    border-radius: 100%;
}
.info ul.flexed .yellow-time:before {
    content: "";
    position: absolute;
    left: 0.5em;
    width: 1em;
    height: 1em;
    background: yellow !important;
    border-radius: 100%;
}

.info .row {
    margin-left: 0;
    margin-right: 0;
}
.info .card .row.border-top {
    border-top: 0.1em solid #e7eaf1;
}
.info .row .col.m3 {
    background: #f4f6f9;
    border-right: 0.1em solid #e7eaf1;
}
.info input[type=text] {
}

.info input[type=text].valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
.info ::-webkit-input-placeholder {
    color: #26a69a;
}
.info :-moz-placeholder {
    color: #26a69a;
}
.info ::-moz-placeholder {
    color: #26a69a;
}
.info :-ms-input-placeholder {
    color: #26a69a;
}
.info .row {
    display: flex; /* equal height of the children */
}
.info .time {
    cursor: pointer;
}
.info ul.flexed {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.info .select-wrapper span.caret {
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px;
    z-index: 999;
    margin-right: 1em;
}
.info .m9 .row {
    margin-bottom: 0 !important;
}
.candidate_form {
    font-family: Lato;
}
.candidate_form .btn {
    font-family: Roboto;
}
.info .btn:focus, .info .btn-large:focus, .info .btn-floating:focus {
    background-color: lightgray;
}
button {
  background: #1a237e
}
.select-wrapper .select-dropdown {
  margin-top: 1em !important;
}
.greeting {
  margin-top: 4em;
  font-weight: 900;
  font-size: 16px;
  color: darkcyan;
  letter-spacing: 0.1em;
}

.small-title {
  font-weight: 700;
  font-size: 12px;
  color: darkcyan;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.small-content {
  text-align: left;
  padding-top: 0.3em;
  font-size: 14px;
}

.teacher-id {
  padding-top: 1em;
  color: darkcyan;
  letter-spacing: 0.2em;
}

.time {
  color: black;
  font-weight: 500;
}
.time.grey-text {
  font-weight: 400;
}
