<section ng-include="'./app/views/partials/save.html'"></section>
<table>
  <tbody>
    <!-- Book Title -->


    <tr >

      <td>

        <div class="input-field col s6 fields">
          Book Title
        </div>
        <div class="input-field col s6">
          <input placeholder="Enter a book title." id="bookTitle" type="text" ng-model="data.title" name="bookTitle" ng-minlength="3" ng-maxlength="100" required>
          <span ng-show="naacForm.bookTitle.$error.minlength || naacForm.bookTitle.$error.maxlength" class="error">Book title length should be between 3 and 100.</span>
          <span ng-show="naacForm.bookTitle.$touched && naacForm.bookTitle.$error.required" class="error">Field cannot be empty</span>
        </div>
      </td>

    </tr>

    <!-- Book ISBN -->

    <tr >

      <td>

        <div class="input-field col s6 fields">
          Book ISBN
        </div>
        <div class="input-field col s6">
          <input placeholder="Enter book isbn number." id="bookISBN" type="number" ng-model="data.isbn" name="bookISBN" ng-minlength="10" ng-maxlength="13" required>
          <span ng-show="naacForm.bookISBN.$error.minlength || naacForm.bookISBN.$error.maxlength" class="error">Book ISBN length should be between 10 or 13.</span>
          <span ng-show="naacForm.bookISBN.$touched && naacForm.bookISBN.$error.required" class="error">Field cannot be empty</span>

        </div>
      </td>

    </tr>


    <!-- Book Year -->

    <tr >

      <td>

        <div class="input-field col s6 fields">
          Year
        </div>
        <div class="input-field col s6">
          <select name="bookYear" ng-model="data.year" required>
            <option value="" disabled selected>Choose your option</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>

          </select>
        </div>
      </td>

    </tr>

<tr >

      <td>

        <div class="input-field col s12">
          <div class="row">
            <div class="col m6" style="display: flex">
              From Page Number

              <input id="bookPageNoStart" type="number" class="validate" ng-model="data.page_no_start" name="bookPageNoStart" ng-minlength="1" ng-maxlength="10" required>
              <span ng-show="naacForm.bookPageNoStart.$touched && naacForm.bookPageNoStart.$error.required" class="error">Field cannot be empty</span>



            </div>
            <div class="col m6" style="display: flex">
              To Page Number

                <input id="bookPageNoEnd" type="number" class="validate" ng-model="data.page_no_end" name="bookPageNoEnd" ng-minlength="1" ng-maxlength="10" required>
              <span ng-show="naacForm.bookPageNoEnd.$touched && naacForm.bookPageNoEnd.$error.required" class="error">Field cannot be empty</span>


            </div>
          </div>
        </div>
      </td>

    </tr>



    <!-- Book Co-Author -->
<tr >

  <td>
    <div class="input-field col s2 fields">
          Co Authors
    </div>
    <div class="col s10">
      <br><br>
      <div class="row" ng-repeat="(k, v) in data.coauthor">
        <div class="col m2" style="color: #9e9e9e;font-size: 14px;padding-top: 10px; ">
          <span>#</span>
          {{ $index + 1}}
        </div>
        <div class="col m4">
          <input type="text" name="" ng-model="v.name" placeholder="Name">
        </div>
        <div class="col m4">
          <input type="text" name="" ng-model="v.email" placeholder="Email">
        </div>
        <div class="col m1" ng-if="v.approved == '0'">
          <div class="tooltip">?
            <span class="tooltiptext">Waiting For Confirmation...</span>
          </div>
        </div>
        <div class="col m1">
          <div ng-click="removecoauthor($index)" class="tooltip red">X
            <span class="tooltiptext">Remove</span>
          </div>

        </div>

      </div>
      <div class="right">
        <button ng-click="hello()" background-color="#1a237e" class="btn waves-effect waves-light no-borders">
          <i style="font-size:1.2em; line-height:1.2em;" class="fa fa-plus-circle" aria-hidden="true"></i> ADD CO AUTHOR
        </button>
      </div>
  </td>
</tr>


  </tbody>
</table>
