<section ng-include="'./app/views/partials/save.html'"></section>
<table>
  <tbody>

    <tr >

      <td>

        <div class="input-field col s6 fields">
          Project Title
        </div>
        <div class="input-field col s6">
          <input placeholder="Project Title" id="projectTitle" type="text" class="validate" ng-model="data.title" name="projectTitle" ng-minlength="3" ng-maxlength="100" required>
          <span ng-show="naacForm.projectTitle.$error.minlength || naacForm.projectTitle.$error.maxlength" class="error">Project title length should be between 3 and 100.</span>
          <span ng-show="naacForm.projectTitle.$touched && naacForm.projectTitle.$error.required" class="error">Field cannot be empty</span>
        </div>
      </td>

    </tr>


    <tr >

      <td>

        <div class="input-field col s6 fields">
          Sponsoring Agency
        </div>
        <div class="input-field col s6">
          <input placeholder="Sponsoring Agency" id="projectSponsor" type="text" class="validate" ng-model="data.sponsors" name="projectSponsor" ng-minlength="3" ng-maxlength="100" required>
          <span ng-show="naacForm.projectSponsor.$error.minlength || naacForm.projectSponsor.$error.maxlength" class="error">Sponsor name should be  3 to 100 character long. </span>
          <span ng-show="naacForm.projectSponsor.$touched && naacForm.projectSponsor.$error.required" class="error">Field cannot be empty</span>

        </div>
      </td>

    </tr>



    <tr >

      <td>

        <div class="input-field col s6 fields">
          Date of Award
        </div>
        <div class="input-field col s6">
          <input placeholder="Date  of Award" id="projectDateAward" type="text" class="datepicker" ng-model="data.date_of_award" name="projectDateAward" required>

        </div>
      </td>

    </tr>


    <tr >

      <td>

        <div class="input-field col s6 fields">
          Date of Completion
        </div>
        <div class="input-field col s6">
          <input placeholder="Date of Completion" id="projectDateCompleted" type="text" class="datepicker" ng-model="data.date_completed" name="projectDateCompleted" required>

        </div>
      </td>

    </tr>


    <tr >

      <td>

        <div class="input-field col s6 fields">
        Project Amount Sanctioned
        </div>
        <div class="col s1" style="position: relative;top: 20px;font-size: 20px;font-weight: 400;">
          <span>&#8377;</span>
        </div>
        <div class="input-field col s5">
          <input placeholder="Project Amount Sanctioned" id="projectAmount" type="number" class="validate" ng-model="data.amnt_sanctioned" name="projectAmount" ng-minlength="3" ng-maxlength="10" required>
          <span ng-show="naacForm.projectAmount.$error.minlength || naacForm.projectAmount.$error.maxlength" class="error">Amount should be  3 to 10 character long. </span>
          <span ng-show="naacForm.projectAmount.$touched && naacForm.projectAmount.$error.required" class="error">Field cannot be empty</span>

        </div>
      </td>

    </tr>




<tr >

  <td>

    <div class="input-field col s6 fields">
      Status of Project
    </div>
    <div class="input-field col s6">
      <select name="conferenceYear" ng-model="data.status" required>
        <option value="" disabled selected>Choose your option</option>
        <option value="completed">Completed</option>
        <option value="inprogress">In-Progress</option>
        <option value="abandoned">Work Abandoned</option>

      </select>
    </div>
  </td>

</tr>


    <!-- Project Co-Author -->
<!-- implementation of co author -->
<!-- Book Co-Author -->
<tr>
<td>
<div  class="{{sections[selected]}}{{selectedResult}}">
  <br><br>
  <div class="row" ng-repeat="(k, v) in coauthors[attributes[selected].key][selectedResult]">

    <div class="col m2" style="color: #9e9e9e;font-size: 14px;padding-top: 10px; ">
      <span>Priority</span>
      {{ $index + 1}}
    </div>
    <div class="col m4">
      <input type="text" name="" ng-model="v.name" placeholder="Name">
    </div>
    <div class="col m4">
      <input type="text" name="" ng-model="v.email" placeholder="Email">
    </div>
    <div class="col m2">
      <div class="tooltip">?
        <span class="tooltiptext">Waiting For Confirmation...</span>
      </div>
    </div>

  </div>
  <div class="right">
    <button ng-click="add_coauthor(key)" background-color="#1a237e" class="btn waves-effect waves-light no-borders">
      <i style="font-size:1.2em; line-height:1.2em;" class="fa fa-plus-circle" aria-hidden="true"></i> ADD CO AUTHOR
    </button>
  </div>


</td>
</tr>




    </tbody>
</table>
<script>
$('.datepicker').pickadate({
 selectMonths: true, // Creates a dropdown to control month
 selectYears: 15, // Creates a dropdown of 15 years to control year,
 today: 'Today',
 clear: 'Clear',
 close: 'Ok',
 closeOnSelect: false // Close upon selecting a date,
});
</script>
