<section ng-include="'./app/views/partials/save.html'"></section>
<table>
  <tbody>
    <tr >

      <td>

        <div class="input-field col s6 fields">
          Name
        </div>
        <div class="input-field col s6">
          <input placeholder="Name" id="nameWork" type="text" class="validate" ng-model="data.title" name="nameWork" required>
          <span ng-show="naacForm.nameWork.$touched && naacForm.nameWork.$error.required" class="error">Field cannot be empty</span>
        </div>
      </td>

    </tr>


    <tr >

      <td>

        <div class="input-field col s6 fields">
          Date
        </div>
        <div class="input-field col s6">
          <input placeholder="Date" id="dateWork" type="text" class="datepicker" ng-model="data.date" name="dateWork" required>
        </div>
      </td>

    </tr>


    <tr >

      <td>

        <div class="input-field col s6 fields">
          Duration
        </div>
        <div class="input-field col s6">
          <input placeholder="Duration in Days" id="durinday" type="number" class="validate" ng-model="data.duration" name="durinday" required>
          <span ng-show="naacForm.durinday.$touched && naacForm.durinday.$error.required" class="error">Field cannot be empty</span>
        </div>
      </td>

    </tr>

    <tr >

      <td>

        <div class="input-field col s6 fields">
          Organisation
        </div>
        <div class="input-field col s6">
          <input placeholder="Organisation" id="orgWork" type="text" class="validate" ng-model="data.organization" name="orgWork" required>
          <span ng-show="naacForm.orgWork.$touched && naacForm.orgWork.$error.required" class="error">Field cannot be empty</span>
        </div>
      </td>

    </tr>


  </tbody>
</table>
<script>
$('.datepicker').pickadate({
 selectMonths: true, // Creates a dropdown to control month
 selectYears: 15, // Creates a dropdown of 15 years to control year,
 today: 'Today',
 clear: 'Clear',
 close: 'Ok',
 closeOnSelect: false // Close upon selecting a date,
});
</script>
