<section data-ng-include src="'./app/views/partials/save.html'"></section>
<table>
  <tbody>

    <tr>

      <td>

        <div class="input-field col s6 fields">
          Name of Activity
        </div>
        <div class="input-field col s6">
          <input placeholder="Name" id="extraName" type="text" class="validate" ng-model="data.title" name="extraName" ng-minlength="3" ng-maxlength="100" required>
          <span ng-show="naacForm.extraName.$error.minlength || naacForm.extraName.$error.maxlength" class="error">Length should be between 3 and 100.</span>
          <span ng-show="naacForm.extraName.$touched && naacForm.extraName.$error.required" class="error">Field cannot be empty</span>
        </div>
      </td>

    </tr>



    <tr>

      <td>

        <div class="input-field col s6 fields">
          Role
        </div>
        <div class="input-field col s6">
          <input placeholder="Role" id="role" type="text" class="autocomplete" ng-model="data.role" required>
        </div>
      </td>

    </tr>



    <tr>

      <td>

        <div class="input-field col s6 fields">
          Level of Activity
        </div>
        <div class="input-field col s6">
          <select name="extraLevel" ng-model="data.level" required>
            <option value="" disabled selected>Choose your option</option>
            <option value="school">School</option>
            <option value="university">University</option>

          </select>
        </div>
      </td>

    </tr>


    <tr>

      <td>

        <div class="input-field col s6 fields">
        School Name
        </div>
        <div class="input-field col s6">
          <input placeholder="Department" id="extraDepartment" type="text" class="validate" ng-model="data.department" name="extraDepartment" ng-minlength="3" ng-maxlength="100" required>
          <span ng-show="naacForm.extraDepartment.$error.minlength || naacForm.extraDepartment.$error.maxlength" class="error">Length should be between 3 and 100.</span>
          <span ng-show="naacForm.extraDepartment.$touched && naacForm.extraDepartment.$error.required" class="error">Field cannot be empty</span>




        </div>
      </td>

    </tr>


    <tr>

      <td>

        <div class="input-field col s6 fields">
          Details
        </div>
        <div class="input-field col s6">
          <input placeholder="Details" id="extraDetails" type="text" class="validate" ng-model="data.details" name="extraDetails" ng-minlength="3" ng-maxlength="100" required>
          <span ng-show="naacForm.extraDetails.$error.minlength || naacForm.extraDetails.$error.maxlength" class="error">Length should be between 3 and 100.</span>
          <span ng-show="naacForm.extraDetails.$touched && naacForm.extraDetails.$error.required" class="error">Field cannot be empty</span>

        </div>
      </td>

    </tr>

  <tr>

      <td>

        <div class="input-field col s6 fields">
          Year
        </div>
        <div class="input-field col s6">
          <select name="yearAward" ng-model="data.year" required>
            <option value="" disabled selected>Choose your option</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>


          </select>
        </div>
      </td>

    </tr>
    </tbody>
</table>
<script>
  $(document).ready(function() {
      $('input.autocomplete').autocomplete({
          data: {
              "Co-Ordinator": null,
              "Committe Member": null,
              "Covenor": null,
              "Center Superitendent": null,
              "Deputy Center Superitendent": null,
              "Chairman": null,
              "Training and Placement Officer": null,
              "TPO Member": null,
              "Any Other, Please Specify": null
          },
          limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
          onAutocomplete: function (val) {
              // Callback function when value is autcompleted.
              console.log("val = ");
              console.log(val);
              if (val == "Any Other, Please Specify") {
                  $(".autocomplete").val("");
              }
          },
          minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
      });
  });
</script>