<div class="container">
<div id="grad" class="student-card card no-margin" style="margin: 0 !important">
    <div class=" card-content row">

        <div class="col m3">
            <img ng-show="empImg" ng-src="{{empImg}}" style="width: 50%; margin-left: 15%">
            <img ng-hide="empImg" src="#" style="width: 50%; margin-left: 15%">
            <button class="btn waves-effect waves-light indigo darken-4 modal-trigger" data-target="modal1">Upload Image
            <i class="material-icons left">file_upload</i></button>
        </div>

        <div class="col m4">

            <div class='greeting'>HELLO</div>

            <h4 class="light">{{employee.name}}</h4>

            <div class="teacher-id">{{employee.pk}}</div>
        </div>
        <div class="col m5">

            <a ng-if="editing==0" ng-click="setEditing()" class="editBtn btn waves-effect indigo darken-4">
                 EDIT DETAILS
                 <i class="material-icons left">edit</i>
                </a>
            <a ng-if="editing==1" ng-click="unsetEditing()" class="saveBtn btn waves-effect indigo darken-4">
                 SAVE DETAILS
                </a>
            <a class="logout btn waves-effect waves-light right indigo darken-4" ng-click="logout()">LOG OUT
            <i class="fa fa-sign-out left " aria-hidden="true"></i>
            </a>

        </div>
    </div>

    <div class="card-action">
        <div class="row">

            <div class="col m4">
                <div class="small-title">DESIGNATION</div>
              <input type="text" name="" ng-class="{'noneditable':(editing!=1)}" ng-model="employee.designation">
            </div>
            <div class="col m4">
                <div class="small-title">ROOM</div>
                <input type="text" name="" ng-class="{'noneditable':(editing!=1)}" ng-model="employee.room_no">

            </div>
            <div class="col m4">
                <div class="small-title">DATE OF JOINING</div>
                <input type="text" name="" ng-class="{'noneditable':(editing!=1)}" ng-model="employee.date_of_joining">


            </div>

        </div>
    </div>

    <div class="card-action">

        <div class="row">
            <div class="col m12">

                <div class="input-field col m6">
                    <div class="small-title">EMAIL ID</div>
                    <input type="text" name="" ng-class="{'disable':(editing!=1)}" ng-model="employee.email">

                </div>

                <div class="input-field col m6">
                    <div class="small-title">PHONE</div>
                    <input type="number" name="" ng-class="{'noneditable':(editing!=1)}" ng-model="employee.phone">
                </div>

            </div>

        </div>

    </div>

    <div class="card-action">
        <div class="row">

            <a class="change-password btn waves-effect indigo darken-4 waves-light left" ng-click="changePassword()">CHANGE PASSWORD
                <i class="material-icons left" style="font-size: 18px;">lock</i>
            </a>

            <a class="btn waves-effect waves-light  indigo darken-4 right" ng-click="fillDetails()">FILL DETAILS
                <i class="material-icons left">details</i>
            </a>
            <a class="btn waves-effect waves-light  indigo darken-4 right disabled" ng-click="fillDetails()" style="margin-right: 10px;">FAQ
                <i class="material-icons left">question_answer</i>
            </a>

        </div>

    </div>
</div>


 <!-- modal trigger -->
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Upload Your Photo</h4>
      <p>
        <form ng-submit="uploadImage()" enctype="multipart/form-data">
        <div class="row">
            <div class="col md10" style="width: 75%;">
                <div class="file-field input-field">
                <div class="btn indigo darken-4">
                    <span>Choose File</span>
                    <input type="file" files-input ng-model="employeeMeta.image" id="fileUploadForm" class="image" placeholder="Click to Upload File" accept="image/x-png,image/jpeg">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" style="border-bottom: 1px solid green;">
                </div>
            </div>
        </div>
    </div>

        <button type="submit" class="btn waves-effect indigo darken-4">UPLOAD
        <i class="material-icons left">file_upload</i></button>
      </form>
      </p>
    </div>

  </div>



</div>

<br><br>
<script type="text/javascript">
$(document).ready(function () {
        $("#grad input").attr("readonly", true);
        $('.modal').modal();
});

</script>
<style type="text/css">
    input[type=text]:not(.browser-default)[readonly="readonly"] {
        color: black;
        border-bottom: 0;
    }
    .modal{
        height: 55%;
    }
</style>
