<div id="test2" class="info container">
    <div class="card">
        <div class="row no-margins">
            <div style="padding:0 0;" class="col m3">
                <div class="table-title">INFORMATION</div>

            </div>
            <div class="col m9">
                <div class="right">
                    <button type="submit" style="margin-top: 0.4em; background-color: #1a237e" class="btn waves-effect waves-light no-borders">
                        SAVE
                    </button>
                </div>
            </div>
        </div>

        <div class="row border-top">
            <div class="col m3">
                <ul class="flexed">
                    <li ng-repeat="info in attributes">
                        <div ng-click="setSelected(info.val)" class="time" ng-class="{'grey-text':!isSelected(info)}" ng-class="{'yellow-time':isSelected(info)">{{ splitAtCaps(info.key) }}</div>
                    </li>
                </ul>
            </div>
            <div class="col m9">
            <br>

              <!-- Experiment  -->
              <div class="row no-margins" ng-if="results[attributes[selected].key]" >
              <div class="input-field col s10 m10" >
                 <select 
                 style="margin-top: 1em" ng-model="selectedResult"
                 ng-options="result as result.title for result in results[attributes[selected].key]"
                  >
                 </select>
               	 <label>Choose {{splitAtCaps(attributes[selected].key)}} </label>
               </div>
             <div class="col s2 m2">
               <i ng-click="addNewObject()"

               style="font-size:3em; line-height:2.2em;" class="fa fa-plus-circle" aria-hidden="true"></i>
             </div>
           </div>
           {{selectedResult}}

            	<table>
            		<tbody>
            			<tr ng-repeat="(key, value) in form_details[sections[selected]]">
            				<td ng-show="!value.verbose">{{value.name}}</td>
            				<td ng-show="value.verbose">{{value.verbose}}</td>
            				<td><input type="text" name=""
                      ng-model="results[attributes[selected].key][results[attributes[selected].key].indexOf(selectedResult)][value.name]"></td>
            			</tr>
            		</tbody>
            	</table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

  $(document).ready(function() {
    $('select').material_select();
  });
</script>
