<div>
  <button class="btn waves-effect waves-light no-borders modal-trigger" href="#modal1" style="margin-top: 12px;
">
<i class="material-icons left" >info</i>
 &nbsp;HELP 
    </button>
</div>

<div id="modal_help" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>{{attributes[selected].key}}</h4>
      <p ng-repeat="x in attributes[selected].help">
      		{{x}}
      </p>
    </div>
    <div class="modal-footer">
      <span class="modal-action modal-close waves-effect waves-green btn-flat">Close</span>
    </div>
  </div>

<script>
$(document).ready(function() {
 $('select').material_select();
 $('.modal').modal();
});
</script>
