<div>

    <button ng-click="generate()" class="btn waves-effect indigo waves-light no-borders" >
    <i style="font-size:1.2em; line-height:1.2em;" class="fa fa-paper-plane" aria-hidden="true" style="background-color: #1a237e;"></i> GENERATE REPORT
  </button>

  <button ng-click="saveForm()" ng-show="dontfillColumn" class="right btn waves-effect indigo waves-light no-borders" ng-disabled="naacForm.$invalid">
    <i style="font-size:1.2em; line-height:1.2em;" class="fa fa-paper-plane" aria-hidden="true" style="background-color: #1a237e;"></i> SAVE DATA
  </button>

</div>