<div class="row">
  <div class="col m12">

  <button ng-click="resetForm()" ng-show="dontfillColumn" style="margin-top: 1em;" class="btn waves-effect waves-light no-borders white black-text left">
    <i style="font-size:1.2em; line-height:1.2em;" class="fa fa-undo" aria-hidden="true"></i> RESET
  </button>

  <!--<button ng-click="saveForm()" ng-show="dontfillColumn" style="margin-top: 1em; background-color: #1a237e" class="btn waves-effect waves-light no-borders right" ng-disabled="naacForm.$invalid">-->
    <!--<i style="font-size:1.2em; line-height:1.2em;" class="fa fa-paper-plane" aria-hidden="true"></i> SAVE-->
  <!--</button>-->
</div>
  </div>


<script>
$(document).ready(function() {
 $('select').material_select();
 $('.modal').modal();
});
</script>
