<div class="right">
  <button ng-click="saveForm()" style="margin-top: 1em; background-color: #1a237e" class="btn waves-effect waves-light no-borders" ng-disabled="naacForm.$invalid">
    <i style="font-size:1.2em; line-height:1.2em;" class="fa fa-paper-plane" aria-hidden="true"></i> SAVE
  </button>
</div>

<div class="left">
	<button class="btn waves-effect indigo waves-light no-borders modal-trigger" href="#modal1" style="margin-top: 12px;
">
 <i style="font-size:1.2em; line-height:1.2em;" class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Trouble Filling The Form 
    </button>
</div>

<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>{{attributes[selected].key}}</h4>
      <p ng-repeat="x in attributes[selected].help">
      		{{x}}
      </p>
    </div>
    <div class="modal-footer">
      <span class="modal-action modal-close waves-effect waves-green btn-flat">Close</span>
    </div>
  </div>

<script>
$(document).ready(function() {
 $('select').material_select();
 $('.modal').modal();
});
</script>
