<section ng-include="'./app/views/partials/save.html'"></section>
<table>
  <tbody>

    <!-- Book Title -->
    <tr>

      <td>

        <div class="input-field col s6 fields">
          Journal Title
        </div>
        <div class="input-field col s6">
          <input placeholder="Enter a journal title." id="journalTitle" type="text" class="validate" ng-model="data.title" name="journalTitle" ng-minlength="3" ng-maxlength="100" required>
          <span ng-show="naacForm.journalTitle.$error.minlength || naacForm.journalTitle.$error.maxlength" class="error">Journal title length should be between 3 and 100.</span>
          <span ng-show="naacForm.journalTitle.$touched && naacForm.journalTitle.$error.required" class="error">Field cannot be empty</span>
        </div>
      </td>

    </tr>

    <!-- Book ISBN -->

    <tr>

      <td>

        <div class="input-field col s6 fields">
          Journal Name
        </div>
        <div class="input-field col s6">
          <input placeholder="Enter journal  name." id="journalName" type="text" class="validate" ng-model="data.name" name="journalName" ng-minlength="3" ng-maxlength="100" required>
          <span ng-show="naacForm.journalName.$error.minlength || naacForm.journalName.$error.maxlength" class="error">Length should be between 3 to 100.</span>
          <span ng-show="naacForm.journalName.$touched && naacForm.journalName.$error.required" class="error">Field cannot be empty</span>

        </div>
      </td>

    </tr>


    <tr>
      <td>
        <div>
        <input type="checkbox" id="ugcCheck" ng-model="data.ugcCheck" />
        <label for="ugcCheck" style="margin-left: 12px;">Is Journal Name notified on UGC Website (Check this box If yes)</label>
      </div>
      </td>
    </tr>


    <tr>

      <td>

        <div class="input-field col s6 fields">
          Journal Publisher Name
        </div>
        <div class="input-field col s6">
          <input placeholder="Enter publisher name." id="journalPublisher" type="text" class="autocomplete" ng-model="data.publisher" required>
        </div>
      </td>

    </tr>



    <tr>

      <td>

        <div class="input-field col s6 fields">
          Volume No.
        </div>
        <div class="input-field col s6">
          <select name="acadExp" ng-model="data.volume_no" required>
                      <option value="" disabled selected>Choose your option</option>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                      <option value="32">32</option>
                      <option value="33">33</option>
                      <option value="34">34</option>
                      <option value="35">35</option>
                      <option value="36">36</option>
                      <option value="37">37</option>
                      <option value="38">38</option>
                      <option value="39">39</option>
                      <option value="40">40</option>
                      <option value="41">41</option>
                      <option value="42">42</option>
                      <option value="43">43</option>
                      <option value="44">44</option>
                      <option value="45">45</option>
                      <option value="46">46</option>
                      <option value="47">47</option>
                      <option value="48">48</option>
                      <option value="49">49</option>
                      <option value="50">50</option>
                      <option value="other">Any Other</option>
                    </select>

        </div>
      </td>

    </tr>


<!-- citation index -->

<tr>
  <td>
    <div class="input-field col s6 fields">
      Citation Index
    </div>
    <div class="input-field col s6">
      <input placeholder="Citation Index" id="citation" type="number" class="validate" ng-model="data.citation" name="citation" ng-minlength="1" ng-maxlength="3" required>
      <span ng-show="naacForm.citation.$error.minlength || naacForm.citation.$error.maxlength" class="error">Citation Index should be  between 0 and 999. </span>
      <span ng-show="naacForm.citation.$touched && naacForm.citation.$error.required" class="error">Field cannot be empty</span>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="input-field col s6 fields">
      Number of Citations Excluding Self Citations
    </div>
    <div class="input-field col s6">
      <input placeholder="Number of Citations Excluding Self Citations" id="numcitations" type="number" class="validate" ng-model="data.numcitations" name="numcitations" ng-minlength="1" ng-maxlength="3" required>
      <span ng-show="naacForm.numcitations.$error.minlength || naacForm.numcitations.$error.maxlength" class="error">Number of Citations should be  between 0 and 999. </span>
      <span ng-show="naacForm.numcitations.$touched && naacForm.numcitations.$error.required" class="error">Field cannot be empty</span>
    </div>
  </td>
</tr>


<!-- index end -->


    <tr>

      <td>

        <div class="input-field col s6 fields">
          ISSN No.
        </div>
        <div class="input-field col s6">
          <input placeholder="Enter ISSN no." id="journalIssn" type="number" class="validate" ng-model="data.issn_isbn" name="journalIssn" ng-minlength="10" ng-maxlength="13" required>
          <span ng-show="naacForm.journalIssn.$error.minlength || naacForm.journalIssn.$error.maxlength" class="error">ISSN no. should be  10 or 13 character long. </span>
          <span ng-show="naacForm.journalIssn.$touched && naacForm.journalIssn.$error.required" class="error">Field cannot be empty</span>

        </div>
      </td>

    </tr>



    <tr>

      <td>

        <div class="input-field col s4 fields">
          Indexing
        </div>
        <div class="input-field col s8">
          <select name="check" required ng-model="data.indexing" multiple>
                      <option value="" disabled selected>Choose your option</option>



<option value="Science Citation Index Expanded (SciSearch)">Science Citation Index Expanded (SciSearch)</option>

<option value="Journal Citation Reports/Science Edition">Journal Citation Reports/Science Edition</option>
<option value="SCOPUS">SCOPUS</option>
<option value="INSPEC">INSPEC</option>
<option value="Google Scholar">Google Scholar</option>
<option value="Academic OneFile">Academic OneFile</option>
<option value="ACM Digital Library">ACM Digital Library</option>
<option value="Current Abstracts">Current Abstracts</option>
<option value="Current Contents Collections / Electronics & Telecommunications Collection">Current Contents Collections / Electronics & Telecommunications Collection</option>
<option value="EBSCO Applied Science & Technology Source">EBSCO Applied Science & Technology Source</option>
<option value="EBSCO Associates Programs Source">EBSCO Associates Programs Source</option>
<option value="EBSCO Computer Science Index">EBSCO Computer Science Index</option>
<option value="EBSCO Computers & Applied Sciences Complete">EBSCO Computers & Applied Sciences Complete</option>
<option value="EBSCO Engineering Source">EBSCO Engineering Source</option>
<option value="EBSCO Military Transition Support Center">EBSCO Military Transition Support Center</option>
<option value="EBSCO Science & Technology Collection">EBSCO Science & Technology Collection</option>
<option value="EBSCO STM Source">EBSCO STM Source</option>
<option value="EBSCO TOC Premier">EBSCO TOC Premier</option>
<option value="EBSCO Vocational Studies">EBSCO Vocational Studies</option>
<option value="I-Compendex">I-Compendex</option>
<option value="Expanded Academic">Expanded Academic</option>
<option value="OCLC">OCLC</option>
<option value="PASCAL">PASCAL</option>
<option value="SCImago">SCImago</option>
<option value="Summon by ProQuest">Summon by ProQuest</option>
<option value="Web of Science">Web of Science</option>
<option value="PubMed">PubMed</option>
<option value="Indian Citation Index">Indian Citation Index</option>

          </select>

        </div>
      </td>

    </tr>



    <tr>
          <td>
            <div class="input-field col s12">
              <div class="row">
                <div class="col m6" style="display: flex">
                  From Page Number
                  <input id="conferencePageNoStart" placeholder="From Page Number" type="number" class="validate" ng-model="data.page_no_start" name="conferencePageNoStart" ng-minlength="1" ng-maxlength="100" required>
                  <span ng-show="naacForm.conferencePageNoStart.$touched && naacForm.conferencePageNoStart.$error.required" class="error">Field cannot be empty</span>



                </div>
                <div class="col m6" style="display: flex">
                  To Page Number

                  <input id="conferencePageNoEnd" placeholder="To Page Number" type="number" class="validate" ng-model="data.page_no_end" name="conferencePageNoEnd" ng-minlength="1" ng-maxlength="100" required>
                  <span ng-show="naacForm.conferencePageNoEnd.$touched && naacForm.conferencePageNoEnd.$error.required" class="error">Field cannot be empty</span>


                </div>
              </div>
            </div>
          </td>

        </tr>





    <tr>

      <td>

        <div class="input-field col s6 fields">
          Publication Month And Year
        </div>
        <div class="input-field col s3">
          <select name="journalMonth" ng-model="data.month" required>
            <option value="" disabled selected>Choose Month</option>
            <option value="jan">January</option>
            <option value="feb">February</option>
            <option value="mar">March</option>
            <option value="apr">April</option>
            <option value="may">May</option>
            <option value="june">June</option>
            <option value="july">July</option>
            <option value="aug">August</option>
            <option value="sep">September</option>
            <option value="oct">October</option>
            <option value="nov">November</option>
            <option value="dec">December</option>
          </select>
        </div>
        <div class="input-field col s3">
          <select name="journalYear" ng-model="data.year" >
            <option value="" disabled>Choose Year</option>
            <option value="2012" selected>2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>

          </select>
        </div>
      </td>

    </tr>




    <tr ng-if="data.indexing.indexOf('SCOPUS') > -1 || data.indexing.indexOf('SCImago') > -1">

      <td>

        <div class="input-field col s6 fields">
          H-Index of Journal using Scimago (if Scopus, SCI-Ex or SCI)
        </div>
        <div class="input-field col s6">
          <input placeholder="H-Index of Journal using Scimago" id="journalHIndex" type="number" class="validate" ng-model="data.hindex" name="journalHIndex" ng-minlength="3" ng-maxlength="100" required>
          <span ng-show="naacForm.journalHIndex.$error.minlength || naacForm.journalHIndex.$error.maxlength" class="error">H-Index should be  3 to 100 character long. </span>
          <span ng-show="naacForm.journalHIndex.$touched && naacForm.journalHIndex.$error.required" class="error">Field cannot be empty</span>

        </div>
      </td>

    </tr>


    <tr ng-if="data.indexing.indexOf('SCImago') > -1">

      <td>

        <div class="input-field col s6 fields">
        Impact Factor
        </div>
        <div class="input-field col s6">
          <input placeholder="Impact Factor" id="journalImpact" type="number" class="validate" ng-model="data.impact_factor" name="journalImpact" ng-minlength="3" ng-maxlength="100" required>
          <span ng-show="naacForm.journalImpact.$error.minlength || naacForm.journalImpact.$error.maxlength" class="error">Impact Factor should be  3 to 100 character long. </span>
          <span ng-show="naacForm.journalImpact.$touched && naacForm.journalImpact.$error.required" class="error">Field cannot be empty</span>

        </div>
      </td>

    </tr>


    <!-- Co Author -->

    <tr>

      <td>
        <div class="input-field col s2 fields">
              Co Authors
        </div>
        <div class="col s10">
          <br><br>
          <div class="row" ng-repeat="(k, v) in data.coauthor">
            <div class="col m2" style="color: #9e9e9e;font-size: 14px;padding-top: 10px; ">
              <span>#</span>
              {{ $index + 1}}
            </div>
            <div class="col m4">
              <input type="text" name="" ng-model="v.name" placeholder="Name">
            </div>
            <div class="col m4">
              <input type="text" name="" ng-model="v.email" placeholder="Email">
            </div>
            <div class="col m1" ng-if="v.approved == '0'">
              <div class="tooltip">?
                <span class="tooltiptext">Waiting For Confirmation...</span>
              </div>
            </div>
            <div class="col m1">
              <div ng-click="removecoauthor($index)" class="tooltip red">X
                <span class="tooltiptext">Remove</span>
              </div>

            </div>

          </div>
          <div class="right">
            <button ng-click="hello()" background-color="#1a237e" class="btn waves-effect waves-light no-borders">
              <i style="font-size:1.2em; line-height:1.2em;" class="fa fa-plus-circle" aria-hidden="true"></i> ADD CO AUTHOR
            </button>
          </div>
      </td>
    </tr>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function () {
     $(document).ready(function() {
                console.log($('select'));
                $('select').material_select();
            });
     $('input.autocomplete').autocomplete({
    data: {
      "IEEE": null,
      "ACM": null,
      "Springer": null,
      "Taylor And Francis": null,
        "CSI": null,
        "IETE": null,
        "CRC Press": null,
        "IOS Press": null,
        "Wiley": null,
        "John Wiley": null,
      "Any Other, Please Specify": null
    },
    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
    onAutocomplete: function(val) {
      // Callback function when value is autcompleted.
      console.log("val = ");
      console.log(val);
      if(val == "Any Other, Please Specify"){
        $(".autocomplete").val("");
      }
    },
    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
  });
  })
</script>
