<table>
  <tbody>
    <tr ng-if="selected == '12'">

      <td>

        <div class="input-field col s6 fields">
          Name
        </div>
        <div class="input-field col s6">
          <input placeholder="Name" id="nameWork" type="text" class="validate" ng-model="nameWork" name="nameWork" required>
          <span ng-show="naacForm.nameWork.$touched && naacForm.nameWork.$error.required" class="error">Field cannot be empty</span>
        </div>
      </td>

    </tr>


    <tr ng-if="selected == '12'">

      <td>

        <div class="input-field col s6 fields">
          Date
        </div>
        <div class="input-field col s6">
          <input placeholder="Date" id="dateWork" type="text" class="datepicker" ng-model="dateWork" name="dateWork" required>
        </div>
      </td>

    </tr>


    <tr ng-if="selected == '12'">

      <td>

        <div class="input-field col s6 fields">
          Duration
        </div>
        <div class="input-field col s6">
          <input placeholder="Duration in Days" id="durinday" type="number" class="validate" ng-model="durinday" name="durinday" required>
          <span ng-show="naacForm.durinday.$touched && naacForm.durinday.$error.required" class="error">Field cannot be empty</span>
        </div>
      </td>

    </tr>

    <tr ng-if="selected == '12'">

      <td>

        <div class="input-field col s6 fields">
          Organisation
        </div>
        <div class="input-field col s6">
          <input placeholder="Organisation" id="orgWork" type="text" class="validate" ng-model="orgWork" name="orgWork" required>
          <span ng-show="naacForm.orgWork.$touched && naacForm.orgWork.$error.required" class="error">Field cannot be empty</span>
        </div>
      </td>

    </tr>


  </tbody>
</table>
