<section ng-include="'./app/views/partials/save.html'"></section>
<table >
  <tbody >

    <tr >
      <td>

        <div class="input-field col s6 fields">
          Academic Experience (Years)
        </div>
        <div class="input-field col s6">

         <select name="acadExp" ng-model="data.title" required>
            <option value="" disabled selected>Choose your option</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
          </select>


        </div>
      </td>

    </tr>

    <tr>

      <td>

        <div class="input-field col s6 fields">
          Industrial Experience (Years)
        </div>
        <div class="input-field col s6">
          <!-- <input placeholder="Industrial Experience" id="indExp" type="number" class="validate" ng-model="data.industrial_exp" name="indExp" required>
          <span ng-show="naacForm.indExp.$touched && naacForm.indExp.$error.required" class="error">Field cannot be empty</span> -->

<select name="indExp" ng-model="data.industrial_exp" required>
            <option value="" disabled selected>Choose your option</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
          </select>


        </div>
      </td>

    </tr>

    <tr >

      <td>

        <div class="input-field col s6 fields">
          Highest Qualification
        </div>
        <div class="input-field col s6">
          <select name="highestQual" ng-model="data.qualification_highest" required>
            <option value="" disabled selected>Choose your option</option>
            <option value="PhD">PhD</option>
            <option value="B.Arch">Bachelor of Architecture - B.Arch</option>
            <option value="B.A">Bachelor of Arts - B.A.&nbsp;&nbsp; &nbsp;</option>
            <option value="B.A.M.S">Bachelor of Ayurvedic Medicine &amp; Surgery - B.A.M.S.&nbsp;&nbsp; &nbsp;</option>
            <option value="B.B.A">Bachelor of Business Administration - B.B.A.</option>
            <option value="B.COM">Bachelor of Commerce - B.Com.</option>
            <option value="B.C.A">Bachelor of Computer Applications - B.C.A.</option>
            <option value="B.D.S">Bachelor of Dental Surgery - B.D.S.</option>
            <option value="B.Des">Bachelor of Design - B.Des. / B.D.</option>
            <option value="B.Ed">Bachelor of Education - B.Ed.</option>
            <option value="B.E/B.TECH">Bachelor of Engineering / Bachelor of Technology - B.E./B.Tech.</option>
            <option value="BFA/BVA">Bachelor of Fine Arts - BFA / BVA</option>
            <option value="B.F.Sc/B.Sc(FISH)">Bachelor of Fisheries Science - B.F.Sc./ B.Sc. (Fisheries).</option>
            <option value="B.H.M.S">Bachelor of Homoeopathic Medicine and Surgery - B.H.M.S.</option>
            <option value="L.L.B">Bachelor of Laws - L.L.B.</option>
            <option value="B.Lib/B.Lib.Sc">Bachelor of Library Science - B.Lib. / B.Lib.Sc.</option>
            <option value="B.M.C/B.M.M">Bachelor of Mass Communications - B.M.C. / B.M.M.</option>
            <option value="M.B.B.S">Bachelor of Medicine and Bachelor of Surgery - M.B.B.S.</option>
            <option value="B.Nursing">Bachelor of Nursing </option>
            <option value="B.Phram/B.Pharma">Bachelor of Pharmacy - B.Pharm / B.Pharma.</option>
            <option value="B.P.Ed">Bachelor of Physical Education - B.P.Ed.</option>
            <option value="B.P.T">Bachelor of Physiotherapy - B.P.T.</option>
            <option value="B.Sc">Bachelor of Science - B.Sc.</option>
            <option value="B.S.W/B.A(SW)">Bachelor of Social Work - BSW / B.A. (SW)</option>
            <option value="B.V.Sc">Bachelor of Veterinary Science &amp; Animal Husbandry - B.V.Sc. &amp; A.H. / B.V.Sc</option>
            <option value="M.D">Doctor of Medicine - M.D.</option>
            <option value="M.D.(Homoeopathy)">Doctor of Medicine in Homoeopathy - M.D. (Homoeopathy)</option>
            <option value="PHARMA.D">Doctor of Pharmacy - Pharm.D&nbsp;&nbsp; &nbsp;</option>
            <option value="Ph.D">Doctor of Philosophy - Ph.D. </option>
            <option value="D.M">Doctorate of Medicine - D.M.</option>
            <option value="M.ARCH">Master of Architecture - M.Arch.</option>
            <option value="M.A">Master of Arts - M.A.</option>
            <option value="M.B.A">Master of Business Administration - M.B.A.</option>
            <option value="M.CH">Master of Chirurgiae - M.Ch.</option>
            <option value="M.COM">Master of Commerce - M.Com.&nbsp;&nbsp; &nbsp;</option>
            <option value="M.C.A">Master of Computer Applications - M.C.A.</option>
            <option value="M.D.S">Master of Dental Surgery - M.D.S.</option>
            <option value="M.DESIGN">Master of Design - M.Des./ M.Design.</option>
            <option value="M.ED">Master of Education - M.Ed.</option>
            <option value="M.E/M.TECH">Master of Engineering / Master of Technology - M.E./ M.Tech.</option>
            <option value="MFA">Master of Fine Arts - MFA / MVA</option>
            <option value="L.L.M">Master of Laws - L.L.M.</option>
            <option value="M.LIB">Master of Library Science - M.Lib./ M.Lib.Sc.</option>
            <option value="M.M.C/M.M.M">Master of Mass Communications / Mass Media - M.M.C / M.M.M.</option>
            <option value="M.PHARMA">Master of Pharmacy - M.Pharm&nbsp;&nbsp; &nbsp;</option>
            <option value="M.PHIL">Master of Philosophy - M.Phil.&nbsp;&nbsp; &nbsp;</option>
            <option value="M.P.ED/M.P.E">Master of Physical Education M.P.Ed. / M.P.E.</option>
            <option value="M.P.T">Master of Physiotherapy - M.P.T.</option>
            <option value="M.SC">Master of Science - M.Sc.</option>
            <option value="M.S.W/M.A(SW)">Master of Social Work / Master of Arts in Social Work - M.S.W. / M.A. (SW)</option>
            <option value="M.SC(AGRI)">Master of Science in Agriculture - M.Sc. (Agriculture)</option>
            <option value="M.S">Master of Surgery - M.S.</option>
            <option value="M.V.SC">Master of Veterinary Science - M.V.Sc.</option>

          </select>

        </div>
      </td>

    </tr>

    <tr >

      <td>

        <div class="input-field col s6 fields">
          Year of Acquiring of Highest Qualification
        </div>
        <div class="input-field col s6">
          <input placeholder="Year of Completion of Highest Qualification" id="qualAdd" type="text" class="validate" ng-model="data.qualification_year_completion" name="qualAdd" maxlength="4" minlength="4"  required>
          <span ng-show="naacForm.qualAdd.$error.minlength || naacForm.qualAdd.$error.maxlength" class="error">Length should be of 4.</span>
          <span ng-show="naacForm.qualAdd.$touched && naacForm.qualAdd.$error.required" class="error">Field cannot be empty</span>
        </div>
      </td>

    </tr>



  </tbody>
</table>
<br><br>
<table>
   <tbody>
      <div class="small-title" style="padding-left:13px;">DETAILS ABOUT PhD STUDENTS</div>
      {{data.phds = data.pursuing + data.submitted + data.awarded;""}}
      <tr class="phdtr">
         <td>
            <div class="input-field col s6 fields">
               Phd Pursuing
            </div>
            <div class="input-field col s6">
               <input placeholder="Phd Pursuing" id="phdp" type="number" class="validate" ng-model="data.pursuing" name="phdp" required>
               <span ng-show="naacForm.phdp.$touched && naacForm.phdp.$error.required" class="error">Field cannot be empty</span>
            </div>
         </td>
      </tr>
      <tr class="phdtr">
         <td>
            <!-- CONFIRM THESE FIELDS -->
            <div class="input-field col s6 fields">
               Phd Submitted
            </div>
            <div class="input-field col s6">
               <input placeholder="Phd Submitted" id="phds" type="number" class="validate" ng-model="data.submitted" name="phds" required>
               <span ng-show="naacForm.phds.$touched && naacForm.phds.$error.required" class="error">Field cannot be empty</span>
            </div>
         </td>
      </tr>
      <tr class="phdtr">
         <td>
            <div class="input-field col s6 fields">
               Phd Awarded
            </div>
            <div class="input-field col s6">
               <input placeholder="Phd Awarded" id="phda" type="number" class="validate" ng-model="data.awarded" name="phda" required>
               <span ng-show="naacForm.phda.$touched && naacForm.phda.$error.required" class="error">Field cannot be empty</span>
            </div>
         </td>
      </tr>
   </tbody>
</table>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>