<div class="container center">
	<br><br>
	<h3 class="light">You have been added as a Co Author to the {{type}} : {{title}} by {{ invitee }}</h3>
<br><br>
	<div class="row">
		<div class="col m6">
			<a ng-click ="go('1')" class="btn btn-large waves-effect waves-light indigo darken-4">YES, MARK AS VERIFIED.</a>
		</div>
		<div class="col m6">
			<a ng-click="go('0')" class="btn btn-large waves-effect waves-light indigo darken-4">NO, FALSE INFORMATION.</a>
		</div>
		</div>

		<h4 class="light">{{status}}</h4>
</div>