<div class="container">

    <div class="row centered" style="width:60%;margin: auto;margin-top: 20px;">
        <div class="col s12 m12">
          <div class="card darken-1">
            <div class="card-content">
              <span class="card-title">CHANGE PASSWORD</span>
              <p>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="curpass" type="text" class="validate" placeholder="Enter your current Password" ng-model="curpass">
                      <label for="email">Current Password</label>
                    </div>
                  </div>
              </p>
              <p>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="newpass" type="text" class="validate" placeholder="Enter your new Password" ng-model="newpass">
                      <label for="email">New Password</label>
                    </div>
                  </div>
              </p>
              <p>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="confpass" type="text" class="validate" placeholder="Confirm new Password" ng-model="confpass">
                      <span ng-if="confpass && newpass != confpass" style="color: red;font-weight: 500;">Passwords do not match</span>
                      <label for="email">Confirm New Password</label>
                    </div>
                  </div>
              </p>
            </div>
            <div class="card-action right-align">
              <button ng-class="{'disabled':(!curpass || !newpass || !confpass || newpass != confpass )}" class="btn waves-effect waves-light indigo darken-4" type="submit" ng-click="chanPass()" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    
</div>

<script>
    $(document).ready(function() {
    Materialize.updateTextFields();
  });
</script>