<div class="container">

    <div class="row centered" style="width:60%;margin: auto;margin-top: 20px;">

      <!-- Dashborad Button -->
      <div class="row">


        <div class="col s12 m12">
          <form name="changePassword">
          <div class="card darken-1">
            <div class="card-content">
              <span class="card-title">Change Password</span>
              <p>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="curpass" type="password" class="validate" placeholder="Enter your current Password" ng-model="curpass">
                      <label for="password">Current Password</label>
                    </div>
                  </div>
              </p>
              <p>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="newpass" name="newpass" type="password"
                      class="validate" placeholder="Enter your new Password"
                      ng-model="newpass"
                      ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" >
                      <span ng-if="changePassword.newpass.$invalid" class="red-text text-darken-4"
                      style="font-weight: 500;font-size:16px;">
                      Password should be atleast 8 characters long and should atleast
                      contain one number, one character and one special character.</span>
                      <label for="password">New Password</label>
                    </div>
                  </div>
              </p>
              <p>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="confpass" type="password" class="validate" placeholder="Confirm new Password" ng-model="confpass">
                      <span ng-if="confpass && newpass != confpass" class="red-text text-darken-4" style="font-weight: 500;">Passwords do not match</span>
                      <label for="email">Confirm New Password</label>
                    </div>
                  </div>
              </p>
            </div>
            <div class="card-action right-align left">
              <button class="btn waves-effect waves-light indigo darken-4" type="button" ng-click="dashboard()">Dashboard
              <i class="material-icons left">dashboard</i>
              </button>
            </div>
            <div class="card-action right-align">
              <button
              ng-class="{'disabled':(!curpass || !newpass || !confpass || newpass != confpass || newpass.length < 8 || changePassword.newpass.$invalid )}" class="btn waves-effect waves-light indigo darken-4" type="submit" ng-click="chanPass()" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
        </div>
      </div>

</div>

<script>
    $(document).ready(function() {
    Materialize.updateTextFields();
  });
</script>
