
<nav  class="secondary-navbar" style="display: none;">
    <div class="nav-wrapper">
        <ul class="tabs">
            <li class="tab"><a class="active" href="#dash">DASHBOARD</a></li>
            <li class="tab hide"><a href="#fill">FILL DETAILS</a></li>
            <ul class="right hide-on-med-and-down">
                <li class="tab"><a href="#faq">FAQ</a></li>
                <li>
                    <a href="notifications">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a  class="logout" href="#" ng-click="logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </ul>
    </div>
</nav>
<br><br>

<div id="dash">
    <ng-include src="'./app/views/partials/dashboard.html'" scope="" onload=""></ng-include>
</div>

<div id="fill">
    <ng-include src="'./app/views/partials/fill_details.html'" scope="" onload=""></ng-include>
</div>

<div id="faq">
    <ng-include src="'./app/views/partials/faq.html'" scope="" onload=""></ng-include>
</div>


<link rel="stylesheet" type="text/css" href="./app/styles/dashboard.css">
<script type="text/javascript">
     $(document).ready(function(){
    $('ul.tabs').tabs();
  });

      $(document).ready(function(){
    $('#dash').click();
  });
</script>

