<div class="container" ng-controller="IndexCtrl as index">








    <div class="row">
        <div class="col s12 m12">
        <br>
          <div class="card darken-1">
            <div class="card-content">
              <span class="card-title">
                Instructions for submission of Online Form of NAAC
              </span>
                <div class="card-action">
                    <p>

                        <ol>
                            <li>Please refer <a href="#" style="margin-right:0px;">this video </a>in case of any problem with filling this form.</li>
                            <li>Procedure: 4 Simple Steps to be followed to apply online
<li>Step 1:	Fill in the Online Application Form and note down system generated Application Number .</li>
<li>Step 2:	Upload Scanned Images of Photograph and Signature:</li>

<li>Step 3:	Pay Examination Fee by echallan or debit/credit card:</li>

<li>Step 4: candidate will be able to print the Confirmation Page.</li>
                        </ol>
                    <strong>NOTE :</strong> The Candidate will be able to modify/correct the particulars before the payment of fees. Once the payment of fee has been made / e-Challan downloaded, candidate particulars cannot be edited.

                    </p>
                </div>
                <div class="card-action">
                    <p>
                        <input ng-model="checked" type="checkbox" id="declaration"/>
                        <label for="declaration">&nbsp;Declaration : I have download Information Bulletin and read all the instructions.
                        </label>
                    </p>
            </div>
            </div>
            <div class="card-action right-align">
              <button ng-class="{'disabled':(!checked)}" class="btn waves-effect waves-light  indigo darken-4 submit" ng-click="index()" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
        <br><br>
    </div>
</div>
<style>
    li{
        line-height: 30px;
    }
</style>

