<div class="container index" ng-controller="IndexCtrl as index" ng-keypress="redirect()">

    <div class="row">
        <div class="col s12 m12">
        <br>
          <div class="card darken-1">
            <div class="card-content">
              <span class="card-title">
                Instructions for submission of Online Form of Faculty Data Acquisition System
              </span>
                <div class="card-action">
                    
                 

                        <ol>
                            <li>
                                <p>Please refer <a href="#" style="margin-right:0px;">this video </a>in case of any problem while filling this form.</p>
                            </li>
                            
<li>  All the Faculty members before proceedings further need to make sure following information is handy of the last 5 years(2012-17):
    <ul>

        <li>Professional Details
        <li>Details of Conferences
        <li>Details of Journal Papers
        <li>Details of Memberships
        <li>Details of Books
        <li>Details of Book Chapters
        <li>Details of Workshops
        <li>Details of Projects
        <li>Details of Guest Lectures
        <li>Details of Awards
        <li>Details of Patents    
        <li>Extra Details   
    </ul>


               <li> List of all the subjects taught in the last 5 years
             <li> Snapshots of Time Table for the last five years

                            
                        </ol>

                    </p>
                </div>
                <div class="card-action">
                    <p>
                        <input ng-model="checked" type="checkbox" id="declaration"/>
                        <label for="declaration">&nbsp;Declaration : I hereby declared that I have read all the instructions carefully .
                        </label>
                    </p>
            </div>
            </div>
            <div class="card-action right-align">
              <button ng-class="{'disabled':(!checked)}" class="btn waves-effect waves-light  indigo darken-4 submit" ng-click="index()" type="submit" name="action" >Submit
                    <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
        <br><br>
    </div>
</div>
<style>
    li{
        line-height: 30px;
    }
    ul:not(.browser-default)>li {
    list-style-type: DISC;
    margin-left: 1em;
}
</style>

