<div class="container index" ng-controller="IndexCtrl as index" ng-keypress="redirect()">

    <div class="row">
        <div class="col s12 m12">
        <br>
          <div class="card darken-1">
            <div class="card-content">
              <span class="card-title">
                Instructions for submission of Online Form of NAAC
              </span>
                <div class="card-action">
                    <p>Please refer <a href="#" style="margin-right:0px;">this video </a>in case of any problem with filling this form.</p>
                 

                        <ol>
                            
<li>  All the Faculty members before proceedings further need to make sure following information is handy of the last 5 years(2012-17):
    <ul>

        <li>Professional Details
        <li>Conference
        <li>Journal Papers
        <li>Memberships
        <li>Books
        <li>Book Chapters
        <li>Workshops
        <li>Projects
        <li>Guest Lectures
        <li>Awards
        <li>Patents    
        <li>Extra Details   
    </ul>


               <li> List of all the subjects taught in the last 5 years
             <li> Time Table Snapshots of the last five years.

                            
                        </ol>

                    </p>
                </div>
                <div class="card-action">
                    <p>
                        <input ng-model="checked" type="checkbox" id="declaration"/>
                        <label for="declaration">&nbsp;Declaration : I have read all the instructions.
                        </label>
                    </p>
            </div>
            </div>
            <div class="card-action right-align">
              <button ng-class="{'disabled':(!checked)}" class="btn waves-effect waves-light  indigo darken-4 submit" ng-click="index()" type="submit" name="action" >Submit
                    <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
        <br><br>
    </div>
</div>
<style>
    li{
        line-height: 30px;
    }
    ul:not(.browser-default)>li {
    list-style-type: DISC;
    margin-left: 1em;
}
</style>

