
<br>
 <div ng-controller="LoginCtrl" id="login-page" class="row">
     <div class="col s4 push-s4 z-depth-6 card-panel">
       <form class="login-form">
         <div class="row">
         </div>
         <div class="row">
           <div class="input-field col s12">
             <i class="material-icons prefix">mail_outline</i>
             <input class="validate" id="empid" type="text" ng-model="loginid">
             <label for="empid">Employee ID</label>
           </div>
         </div>
         <div class="row">
           <div class="input-field col s12">
             <i class="material-icons prefix">lock_outline</i>
             <input id="password" type="password" ng-model="password" autofocus>
             <label for="password">Password</label>
           </div>
         </div>
         <div class="row">
           <div class="input-field col s12">
             <a ng-click="submit()" class="btn waves-effect waves-light col s12" style="background: #1a237d">Login</a>
           </div>
         </div>
         <div class="row">
           <div class="input-field col s6 m6 l6">
               <p class="margin right-align medium-small"><span class="forgot" style="color: #1a237d;font-weight: bold;" ng-click="forgot()">Forgot password?</span></p>
           </div>
         </div>

       </form>
     </div>
   </div>

<script>
 $(document).ready(function() {
    Materialize.updateTextFields();
     $('#login-page').keydown(function(e){
            if(e.keyCode == 13){
                $('.btn').trigger('click');
             }
        });
  });
        
</script>
