
<br>
 <div ng-controller="LoginCtrl" class="row">
     <div class="col s4 push-s4 z-depth-6 card-panel">
      <center> <img src="./app/resources/images/logomain.png" class="circle center-align responsive-img " id="login-logo" height="20%" width="20%" style="margin-top:20px;" alt="logo"></center>
       <form class="login-form" id="login-page">
         <div class="row">
           <div class="input-field col s12">
             <i class="material-icons prefix">mail_outline</i>
             <input class="validate" id="empid" type="text" ng-model="loginid">
             <label for="empid">Employee ID</label>
           </div>
         </div>
         <div class="row">
           <div class="input-field col s12">
             <i class="material-icons prefix">lock_outline</i>
             <input id="password" type="password" ng-model="password" autofocus>
             <label for="password">Password</label>
           </div>
         </div>

         <no-captcha
         g-recaptcha-response="gRecaptchaResponse"
         theme='light'
         control="noCaptchaControl"
         site-key="6LchXkIUAAAAAM6ENPgDi4vwP2lsnbU9F2E9zmDc">
     </no-captcha>
     <br>
         <div class="row center">
          <a ng-click="submit()" class="btn waves-effect waves-light" ng-class="{'disabled':!loginValid}" style="background: #1a237d">LOGIN
            <i class="material-icons left">forward</i>
          </a>
         </div>





       </form>
       <div class="row center">
          <br>
          <a class="waves-effect waves-yellow btn" ng-click="forgot()">FORGOT PASSWORD
            <i class="material-icons left">live_help</i>
          </a>
       </div>
     </div>
   </div>

<script>
 $(document).ready(function() {
    Materialize.updateTextFields();
     $('#login-page').keydown(function(e){
            if(e.keyCode == 13){
                $('.btn').trigger('click');
             }
        });
  });

</script>

<style type="text/css">
 .btn:not(.waves-light), .btn-large:not(.waves-light) {
    background-color: #fff;
    color: #212121;
}

no-captcha > div {
  margin: auto;
}
</style>
