<div class="selection" id="selection">
    <br><br>
    <div class="row">
        <div class="col m6 offset-m3">
          <div class="card darken-1">
            <div class="card-content">
              <span class="card-title">
                Select School
              </span>
                <div class="card-action">
                    <p>
                        <select ng-if="schools" ng-change="setSelectedSchool()" ng-model="ss.selected" ng-options="x.key as x.value for x in schools"></select>
                    </p>
                </div>
            </div>
            <div class="card-action">
              </button>
            </div>
          </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (){
        $('select').material_select();
        $('.select-dropdown').val("Choose Your Option");
        var x = $('.dropdown-content li:nth-child(1)').attr('disabled','true');
        x.find('span').html("Choose Your Option").css('color','rgb(203, 198, 196)');
    });
</script>

