       <div class="row" controller="SelCtrl">
          <center>
         <div class="col s6 push-s2">
             <a class='dropdown-button btn' data-beloworigin="true" href='/selection' data-activates='dropdown'>Select School</a>
             <ul id="dropdown" class="dropdown-content">
               <li><a href="#">University School of Info &amp; Communication Technology</a></li>
               <li><a href="#">University School of Law and Legal Studies</a></li>
               <li><a href="#">University School of Management Studies</a></li>
                <li><a href="#">University School of Education</a></li>
                <li><a href="#">University School of BioTechnology</a></li>
                <li><a href="#">University School of Chemical Technology</a></li>
                <li><a href="#">University School of Environment Management</a></li>
                <li><a href="#">University School of Mass Communication</a></li>
                <li><a href="#">University School of Basic and Applied Sciences</a></li>
                <li><a href="#">University School of Architecture and Planning</a></li>
              <li><a href="#">University School of Humanities and Social Sciences</a></li>
             </ul>

         </div>
         </center>
       </div>

<script type="text/javascript">
$('.dropdown-button').dropdown({
    inDuration: 300,
    outDuration: 225,
    constrainWidth: false, // Does not change width of dropdown to that of the activator
    hover: true, // Activate on hover
    gutter: 0, // Spacing from edge
    belowOrigin: false, // Displays dropdown below the button
    alignment: 'left', // Displays dropdown with edge aligned to the left of button
    stopPropagation: false // Stops event propagation
  }
);

</script>
