
<!-- preloader -->


<div class="progress">
      <div class="indeterminate"></div>
  </div>
        

<!-- preloader end -->

<div class="container select" ng-controller="SelCtrl as sel" style="display: none;">
    <div class="input-field col s12 school">
        <div class="card">
            <div class="card-content">
              <span class="card-title bold">Select Your Id</span>
              <p>
              <table class="striped" ng-if="empData">
                    <thead>
                      <tr class="hovered">
                          <th>&nbsp;&nbsp;Name</th>
                          <th>&nbsp;&nbsp;Id</th>
                         
                      </tr>
                    </thead>
             <tbody>
                  <tr ng-click="setEmployee(x)" ng-repeat="x in empData" id="{{ x.pk }}">
                    <td>&nbsp;&nbsp;{{ x.fields.name }}</td>
                    <td>&nbsp;&nbsp;{{ x.pk }}</td>
                   
                  </tr>
            </tbody>
            </table>
              </p>
            </div>
          </div>
  </div>
    </div>
<script type="text/javascript">
var i = 1;
  function toast(i){
    if(i == 1){
      Materialize.toast("Please select your name to login",5000);
      i++;
    }
    return;
  }
</script>



<style type="text/css">
  tr {
    cursor: pointer;
  }
  tr:hover{
    background: aliceblue;
  }
    .preloader-wrapper{
        position: absolute;
        top:45%;
        left: 45%;
    }
</style>